@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(235, 229, 229);

}

.Header {
  height: 75px;
  background-color: #ffffff;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.Header img {
  width: 125px;
  height: auto;
}

nav {
  width: fit-content;
  height: 75px;
  padding: 10px;
  background-color: #3778c2;

}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}

ul li {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


ul li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

#SearchBar {
  display: none;
}

.container {
  max-width: 1250px;
}

.material-symbols-outlined {
  font-size: 35px;
  color: #3778c2;
}

.trending-box {
  background-color: #3778c2;
  color: #ffff;
  padding: 10px;
  border-radius: 5px;
  max-width: fit-content;
  font-size: 16px;
}

article {
  position: relative;
}

.PosIcon {
  background-color: #3778c2;
  color: #ffff;
  padding: 8px 10px;
  border-radius: 5px;
  max-width: fit-content;
  font-size: 20px;
}

.Mainh3 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.img-fluid {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 9px;
}
p{
  color: rgb(102, 102, 102);
}

.Category {
  background-color: #3778c2;
  color: #ffff;
  padding: 8px 10px;
  border-radius: 5px;
  max-width: fit-content;
  font-size: 13px;
  margin-top: 20px;
  margin-left: 5px;
}

.TitleText {
  font-size: 15px;
  padding: 5px 8px;
  color: rgb(14, 14, 14);
}
.TitleText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; 
  height: 3.5em; 
  line-height: 1.8; 
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.1em * 3); 
}

.box2{
  margin-top: -15px;
  padding: 0;
}
article img {
  border-radius: 5px;
}

#ArtImage {
  width: 100%;
  height: 100px;
  
}

section {
  margin: 25px 0px;
}



@media only screen and (min-width: 768px) {
  #ArtBox2 {
    display: grid;
    grid-template-columns: 1fr 1fr
  }

  .PosIcon {
    font-size: 20px;

  }

  .Mainh3 {
    font-size: 23px;
  }

}

@media only screen and (min-width: 1200px) {
  #ArtBox1 {
    width: 65%;
  }

  #ArtBox2 {
    width: 30%;
  }

  #ArtBox2 {
    display: grid;
    grid-template-columns: 1fr
  }

  #SearchBar {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid rgb(192, 190, 190);
    width: auto;
    max-width: 250px;
    padding: 8px 10px;
    border: 0.5px solid #3778c2;
    border-radius: 5px;
    margin-right: 50px;
  }

  #SearchBar input {
    border: none;
    width: 100%;
  }

  #SearchBar span {
    font-size: 20px;
  }

  #SearchBar input:focus {
    outline: none;
  }
}


.main {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}

.article-item {
  position: relative;
  width: 100%; 
}

.second {
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 0;
  padding: 10px; 
}

.PosIcon {
  margin: 0;
  font-size: 14px; 
}

.Mainh3 {
  margin: 5px 0;
  font-size: 18px; 
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

